extraEnvs:
  - name: OS_USER
    valueFrom:
      secretKeyRef: { name: opensearch-auth, key: OS_USER }
  - name: OS_PASS
    valueFrom:
      secretKeyRef: { name: opensearch-auth, key: OS_PASS }

config:
  data-prepper-config.yaml: |
    ssl: false

ports:
  - name: otel-traces
    port: 21890
  - name: otel-metrics
    port: 21891
  - name: otel-logs
    port: 21892

service:
  type: ClusterIP

pipelineConfig:
  enabled: true
  config:
    entry-pipeline:
      delay: "100"
      source:
        otel_trace_source:
          ssl: false
      buffer:
        bounded_blocking:
          buffer_size: 10240
          batch_size: 160
      sink:
        - pipeline: { name: "raw-trace-pipeline" }
        - pipeline: { name: "service-map-pipeline" }

    raw-trace-pipeline:
      source: { pipeline: { name: "entry-pipeline" } }
      processor:
        - otel_traces: {}
      sink:
        - opensearch:
            hosts: ["https://192.168.56.150:31813"]
            insecure: true
            username: "${OS_USER}"
            password: "${OS_PASS}"
            index_type: trace-analytics-raw

    service-map-pipeline:
      source: { pipeline: { name: "entry-pipeline" } }
      processor:
        - service_map: {}
      sink:
        - opensearch:
            hosts: ["https://192.168.56.150:31813"]
            insecure: true
            username: "${OS_USER}"
            password: "${OS_PASS}"
            index_type: trace-analytics-service-map

    otel-metrics-pipeline:
      source:
        otel_metrics_source:
          ssl: false
      processor:
        - otel_metrics: {}
      sink:
        - opensearch:
            hosts: ["https://192.168.56.150:31813"]
            insecure: true
            username: "${OS_USER}"
            password: "${OS_PASS}"
            index: "otel-v1-metrics-%{yyyy.MM.dd}"

    otel-logs-pipeline:
      source:
        otel_logs_source:
          ssl: false
      sink:
        - opensearch:
            hosts: ["https://192.168.56.150:31813"]
            insecure: true
            username: "${OS_USER}"
            password: "${OS_PASS}"
            index: "otel-v1-logs-%{yyyy.MM.dd}"

