apiVersion: v1
kind: ConfigMap
metadata:
  name: dp-pipeline-otel-logs
  namespace: otel
data:
  pipelines.tmpl.yaml: |
    s3_to_opensearch:
      workers: 2
      delay: 5000
      
      source:
        s3:
          compression: "gzip"
          codec:
            json: {}
          aws:
            region: "us-east-1"
          scan:
            buckets:
              - bucket:
                  name: "${BUCKET}"
                  filter:
                    include_prefix:
                      - "${PREFIX}"
          disable_bucket_ownership_validation: true
          # acknowledgments: true
      
      processor:
      # Flattens the nested structure to a linear one
      - flatten:
          # empty string represents root of event
          source: ""
          target: ""
          remove_processed_fields: true

      # Adds the timestamp using Unix format to UTC    
      - date:
          match:
            - key: "scopeLogs[0].logRecords[0].timeUnixNano"
              patterns: ["epoch_nano"]
          destination: "@timestamp"
          destination_timezone: "UTC"

      # Renames required keys to expected key values
      - rename_keys:
          entries:
            - from_key: resource.attributes[4].value.stringValue
              to_key: resource.k8s.namespace.name
            - from_key: resource.attributes[3].value.stringValue
              to_key: resource.k8s.deployment.name
            - from_key: resource.attributes[5].value.stringValue
              to_key: resource.k8s.node.name
            - from_key: resource.attributes[6].value.stringValue
              to_key: resource.k8s.pod.name
            - from_key: resource.attributes[2].value.stringValue
              to_key: resource.k8s.container.name
            - from_key: resource.attributes[25].value.stringValue
              to_key: resource.deployment.team
            - from_key: scopeLogs[0].logRecords[0].body.stringValue
              to_key: body
            - from_key: scopeLogs[0].logRecords[0].severityText
              to_key: severity.text

      sink:
        - opensearch:
            hosts:
              - "${OS_HOST}"
            username: "${OS_USERNAME}"
            password: "${OS_PASSWORD}"
            index: "dataprepper-${INDEX}"
            index_type: "custom"
            bulk_size: 5000
            flush_timeout: 30000
            insecure: true
            aws_sigv4: false
            max_retries: 3
